
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

header{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo{
    max-height: 50x;
}

img.main-image{
    max-width: 1000px;
}

nav{
    align:right;
}

a.navlink{

    background:#e6001e;
    color: #ffffff;
    padding:10px 30px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

body{

    padding: 0 100px;
}

nav{

}

.game-series-bg-mario{


}

.game-series-bg-mariosports{

    
}

.game-series-bg-kirby{

    
}

.game-series-bg-loz{

}

.game-series-bg-metroid{

}

.game-series-bg-pokemon{

}

.game-series-bg-animal-crossing{

}



